[Unit]
Wants=network-online.target
After=network.target network-online.target
Description=plutus for paying

[Service]
WorkingDirectory=/opt/webeye/ituiniu/plutus
ExecStart=/usr/bin/pipenv run supervisord
Environment="PYTHONDONTWRITEBYTECODE=x"
Type=forking
KillMode=process
Restart=on-failure
LimitNOFILE=100000
LimitNPROC=100000
User=centos
Group=centos

[Install]
WantedBy=multi-user.target
